[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
openpyxl = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
